main{
  @include display-flex();
  width: 100%;
  min-height: 100%;
}
section.content{
  @include flex(1);
}

article.base{
  @include flex(1);
  display: inline-block;
  position: relative;
  padding: .5em;
  padding-top: $load-bar-height * 2;
  opacity: 0; 
  padding: 1.5rem;
  &.working{
    opacity: 0; 
  }
  &.complete{
    opacity: 1; 
    @include transition(opacity 0.2s ease-in); 
  }
  h1{
    font-size: 1.8em;
    padding: .8em 0 .4em;
  }
}
