
nav.main-nav{ 
  display: block; 
  color: #d8d8d8; 
  background: #2a2a2a;
  @include box-shadow(#555 2px 2px 10px);
  @include flex(1);
  max-width: $navWidth;
  position: relative;

  div.fixed{
    position: fixed;
    width: $navWidth
  } 

  h1{
    font-size: 1.6em;
    font-weight: 900;
    color: $red;
    padding: $gutterSize;
    margin-top: $load-bar-height;
    border-bottom: $navborderB;
  }

  li{
    list-style: none; 
    border-top: $navborderT;
    border-bottom: $navborderB; 

    a{
      @include transition(all 0.1s ease-in); 
       text-decoration: none; 
      display: block;
      color: white; 
      padding: $gutterSize; 
      border-left: 0px solid $red;
    }
    &:hover{
      background: #333;
    }
    &.active{
      a{
        border-left: 5px solid $red;
        @include transition(all 0.1s ease-in); 
        background: #333;
      }
    }
    &.logout{
      background: #232121;
      a{
        padding: $gutterSize;
        font-size: .8rem;
        color: #929292;
        background: #232121;
        border-top: 1px solid #313131;
        text-transform: uppercase;
        cursor: pointer;
      }
      h2{
        font-size: 1em;
        padding: $gutterSize $gutterSize 0 $gutterSize;
      }
      h3{
        font-size: .4em;
        padding: .1rem 0.8rem $gutterSize 0.8rem;
        border-bottom: 1px solid #141414;
      }
    }
  }
}